body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 8vw;
    color: rgb(255, 230, 0);
} 

h2{
    color: #ff2701;
    text-align: center;
}

h5{
    font-size: 5vw;
    color: beige;
}

p{
    font-size: 5vw;
    text-align: justify;
    color: beige;
}

a{
    text-align: center;
    font-size: 3vw;
    color: darkorange;
    margin:0 auto;
    display:block;
}
